html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  min-height: 100%;
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
