html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  min-height: 100%;
  font-family:
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.form-range::-webkit-slider-thumb {
  background-color: #0b5d3b;
}

.form-range::-moz-range-thumb {
  background-color: #0b5d3b;
}

/* Change the track color when active/focused */
.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(255, 87, 51, 0.25);
}
